<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Personalitweet!
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1>Let's ' a go !</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.fst_handle.label }}<br>
                {{ form.fst_handle(size=32) }}
            </p>
            <p>
                {{ form.snd_handle.label }}<br>
                {{ form.snd_handle(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>